@model List<Person>


@{
    ViewBag.Title = "People Index";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h1 class="text-info m-0">@ViewBag.Title</h1>
        <a asp-controller="people" asp-action="create" class="btn btn-outline-success d-flex align-items-center">Add Person</a>
    </div>
    <table class="table w-50">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Profession</th>
                @*<th scope="col">Route Button</th>*@
                @*<th scope="col">Query Button</th>*@
                <th scope="col">View Buttons</th>
                <th scope="col">Delete Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Name</td>
                    <td>@p.Surname</td>
                    <td>@p.Age</td>
                    <td>@p.Profession?.Name</td>
                    <td class="text-center"><a asp-controller="people" asp-action="details" asp-route-id="@p.Id" class="btn btn-warning">View</a></td>
                    @*<td><a href="/people/details?id=@p.Id">Detail Query</a></td>*@
                    <td class="text-center"><a asp-controller="people" asp-action="delete" asp-route-id="@p.Id" class="btn btn-danger">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

